/* Stylesheet for the application - dont' touch */
/* Stylesheet for the application */

html * {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    padding:8px;
    border: 1px solid silver;
    min-height: 600px;
}

header {
    margin-bottom: 40px;
}

header a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a img {
    width: 70%;
}

h1 {
    font-size: 2.125rem;
}

h2 {
   font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

.error {
    border: 1px solid red;
    padding: 10px;
    color: red;
    max-width: 400px;
}

.generic-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.generic-form input[type=text],
.generic-form input[type=password],
.generic-form button {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid silver;
}

.generic-form button:hover {
    background-color: darkgray;
}


