<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DashboardPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Style sheet  -->
    <link rel="stylesheet" href="../../public/css/c1css/c1dashboardstyles.css" th:href="@{/css/c1css/c1dashboardstyles.css}">

    <!--  til extra fonts   -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
          rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap"
          rel="stylesheet">
</head>
<body>
<h1 class="headline">Get It Done!</h1>
<h2><span th:text="${session.team.teamName}"></span> you're logged in</h2>

<!------------------pop up button -------------------------->
<button class="open-button" onclick="openForm()">Add task</button>

<div class="form-popup" id="myForm">
    <form action="/" class="form-container">
        <label for="taskname"><b>Task name</b></label>
        <input type="text" placeholder="Enter task name" name="taskName" id="taskname" required>

        <label for="description"><b>Task Description</b></label>
        <input type="text" placeholder="Enter task description" name="description" id="description" required>

        <label for="user"><b>Assign User</b></label>
        <input type="text" placeholder="Write user name" name="user" id="user" required>

        <button type="submit" class="btn" formaction="addTask">Add</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>

<!-----------------JavaScrips for nice popup------------------------------->

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>

<!------------------- Kanban board -------------------->

<div id="task-table-container">
    <table class="task-table" id="backlog">
        <thead>
        <tr>
            <th>Backlog</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task: ${taskList}" th:if="${task.lifeCycleID == 0}">
            <td th:text="${task.taskTitle}"></td>
            <td>
                <form method="post">
                    <input type="hidden" name="taskID" th:value="${task.taskID}">
                    <input type="hidden" name="lifeCycleID" th:value="${task.lifeCycleID+1}">
                    <button type="submit" formaction="movetask">Right</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>



    <table class="task-table" id="doing">
        <thead>
        <tr>
            <th>Doing</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task: ${taskList}" th:if="${task.lifeCycleID == 1}">
            <td th:text="${task.taskTitle}"></td>
            <td class="task-buttons">
                <form method="post">
                    <input type="hidden" name="taskID" th:value="${task.taskID}">
                    <input type="hidden" name="lifeCycleID" th:value="${task.lifeCycleID - 1}">
                    <button type="submit" formaction="movetask">Left</button>
                </form>
                <form method="post">
                    <input type="hidden" name="taskID" th:value="${task.taskID}">
                    <input type="hidden" name="lifeCycleID" th:value="${task.lifeCycleID+1}">
                    <button type="submit" formaction="movetask">Right</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>


    <table class="task-table" id="testing">
        <thead>
        <tr>
            <th>Testing</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task: ${taskList}" th:if="${task.lifeCycleID == 2}">
            <td th:text="${task.taskTitle}"></td>
            <td>
                <form method="post">
                    <input type="hidden" name="taskID" th:value="${task.taskID}">
                    <input type="hidden" name="lifeCycleID" th:value="${task.lifeCycleID - 1}">
                    <button type="submit" formaction="movetask">Left</button>
                </form>
                <form method="post">
                    <input type="hidden" name="taskID" th:value="${task.taskID}">
                    <input type="hidden" name="lifeCycleID" th:value="${task.lifeCycleID+1}">
                    <button type="submit" formaction="movetask">Right</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="task-table" id="done">
        <thead>
        <tr>
            <th>Done</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task: ${taskList}" th:if="${task.lifeCycleID == 3}">
            <td th:text="${task.taskTitle}"></td>
            <td>
                <form method="post">
                    <input type="hidden" name="taskID" th:value="${task.taskID}">
                    <input type="hidden" name="lifeCycleID" th:value="${task.lifeCycleID - 1}">
                    <button type="submit" formaction="movetask">Left</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<p th:if="${session.teamname != null}">
    <a href="c1login.html" th:href="@{/logout}">Logout</a>
</p>

</body>
</html>