<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DashboardPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Style sheet  -->
    <link rel="stylesheet" href="../../public/css/c1css/c1dashboardstyles.css"
          th:href="@{/css/c1css/c1dashboardstyles.css}">

    <!--  til extra fonts   -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
          rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap"
          rel="stylesheet">
</head>
<body>
<h1 class="headline"><img src="/images/c1images/GetItDoneHeader2.png"/></h1>

<div class="topper">
    <h2>Welcome, <span th:text="${session.loginName}"></span> you are logged in to <span th:text="${session.team.teamName}"></span></h2>

    <!--    <p th:if="${session.teamname != null}">-->
    <a class="logout" href="c1login.html" th:href="@{/logout}">Logout</a>
    <!--    </p>-->
</div>


<!------------------pop up button -------------------------->
<button class="open-button" onclick="openForm()">Add task</button>

<div class="form-popup" id="myForm">
    <form class="form-container" method="post">
        <label for="taskname"><b>Task name</b></label>
        <input type="text" placeholder="Enter task name" id="taskname" name="taskName" required>

        <label for="description"><b>Task Description</b></label>
        <input type="text" placeholder="Enter task description" id="description" name="description" required>

        <button type="submit" class="btn" formaction="addTask">Add</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>

<!-----------------JavaScrips for nice popup------------------------------->

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>

<!------------------- Kanban board -------------------->

<div id="task-table-container">
    <div id="backlog">
        <table class="task-table">
            <h3>Backlog</h3>
            <tbody>
            <tr th:each="task: ${taskList}" th:if="${task.lifeCycleID == 0}">
                <td th:text="${task.taskTitle}"></td>
                <td th:text="${task.taskResponsible}"></td>
                <td>
                    <form method="post">
                        <input type="hidden" name="taskID" th:value="${task.taskID}">
                        <input type="hidden" name="lifeCycleID" th:value="${task.lifeCycleID+1}">
                        <input type="hidden" name="taskResponsible" th:value="${session.loginName}">
                        <button class="moveButton" type="submit" formaction="movetask">Doing</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="doing">
        <h3>Doing</h3>
        <table class="task-table">
            <tbody>
            <tr th:each="task: ${taskList}" th:if="${task.lifeCycleID == 1}">
                <td class="left-buttons">
                    <form method="post">
                        <input type="hidden" name="taskID" th:value="${task.taskID}">
                        <input type="hidden" name="lifeCycleID" th:value="${task.lifeCycleID - 1}">
                        <button class="moveButton" type="submit" formaction="movetask">Backlog</button>
                    </form>
                </td>
                <td th:text="${task.taskTitle}"></td>
                <td th:text="${task.taskResponsible}"></td>
                <td class="right-buttons">
                    <form method="post">
                        <input type="hidden" name="taskID" th:value="${task.taskID}">
                        <input type="hidden" name="lifeCycleID" th:value="${task.lifeCycleID+1}">
                        <button class="moveButton" type="submit" formaction="movetask">Testing</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div id="testing">

        <h3>Testing</h3>
        <table class="task-table">

            <tbody>
            <tr th:each="task: ${taskList}" th:if="${task.lifeCycleID == 2}">
                <td class="left-buttons">
                    <form method="post">
                        <input type="hidden" name="taskID" th:value="${task.taskID}">
                        <input type="hidden" name="lifeCycleID" th:value="${task.lifeCycleID - 1}">
                        <button class="moveButton" type="submit" formaction="movetask">Doing</button>
                    </form>
                </td>
                <td th:text="${task.taskTitle}"></td>
                <td th:text="${task.taskResponsible}"></td>
                <td class="right-buttons">
                    <form method="post">
                        <input type="hidden" name="taskID" th:value="${task.taskID}">
                        <input type="hidden" name="lifeCycleID" th:value="${task.lifeCycleID+1}">
                        <button class="moveButton" type="submit" formaction="movetask">Done</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="done">

        <h3>Done</h3>
        <table class="task-table">
            <tbody>
            <tr th:each="task: ${taskList}" th:if="${task.lifeCycleID == 3}">
                <td class="left-buttons">
                    <form method="post">
                        <input type="hidden" name="taskID" th:value="${task.taskID}">
                        <input type="hidden" name="lifeCycleID" th:value="${task.lifeCycleID - 1}">
                        <button class="moveButton" type="submit" formaction="movetask">Testing</button>
                    </form>
                </td>
                <td th:text="${task.taskTitle}"></td>
                <td th:text="${task.taskResponsible}"></td>
                <td class="right-buttons">
                    <form method="post">
                        <input type="hidden" name="taskID" th:value="${task.taskID}">
                        <input type="hidden" name="lifeCycleID" th:value="${task.lifeCycleID+1}">
                        <button class="removeButton" type="submit" formaction="removeTask">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>