<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<title>Vaskesymboler</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/c3/styles.css"  th:href="@{/css/c3/styles.css}" rel="stylesheet"/>

</head>

<body>

<div class="page">
    <header>
        <a href="../c3/index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/c3/c3Logo/LogoC3.png" height="200"
                 width="200" th:src="@{/images/c3/c3Logo/LogoC3.png}"/>
        </a>
    </header>

    <h1>Project name</h1>

    <p>Make your splash page here</p>
</div>
</body>
</html>