<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Projectname</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="../../public/css/projectname.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">
    <header>
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/lifehacklogo.png" th:src="@{/images/lifehacklogo.png}"/>
        </a>
    </header>

    <h1>Project name</h1>

    <p>Make your splash page here</p>
</div>
</body>
</html>