<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<title>Vaskesymboler</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/c3/styles.css" th:href="@{/css/c3/styles.css}" rel="stylesheet"/>

</head>

<body>

<div id="page">

    <header>
        <a href="../c3/index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/c3/c3Logo/LogoC3.png" height="100"
                 width="100" th:src="@{/images/c3/c3Logo/LogoC3.png}"/>
        </a>
    </header>

    <h1>Click a symbol</h1>

    <div id="content1">
        <div >
            <img src="../../public/images/c3/canbleach.png" height="100" width="100"/>
        </div>
        <div>
            <img src="../../public/images/c3/chemical_p.png" height="100" width="100"/>
        </div>
        <div>

            <img src="../../public/images/c3/chemical_w.png" height="100" width="100"/></div>
        <div>

            <img src="../../public/images/c3/dontbleach.png" height="100" width="100"/></div>

    </div>

    <div id="content2">
        <div>

            <img src="../../public/images/c3/dontironme.png" height="100" width="100"/>
        </div>
        <div>

            <img src="../../public/images/c3/dontwash.png" height="100" width="100"/>
        </div>
        <div>

            <img src="../../public/images/c3/handwash.png" height="100" width="100"/>
        </div>
        <div>
            <img src="../../public/images/c3/ironme.png" height="100" width="100"/>
        </div>

    </div>

    <div id="content3">
        <div>

            <img src="../../public/images/c3/toerretumbler.png" height="100" width="100"/></div>
        <div>

            <img src="../../public/images/c3/washme.png" height="100" width="100"/></div>
        <div>
            <img src="../../public/images/c3/nochemicals.png" height="100" width="100"/>
        </div>
        <div>

            <img src="../../public/images/c3/dontdry.png" height="100" width="100"/></div>
    </div>
</div>
</body>
</html>