<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">
    <header>
        <a href="https://lifehack.jonbertelsen.dk">
            <img alt="logo" src="../public/images/lifehacklogo.png" th:src="@{/images/lifehacklogo.png}"/>
        </a>
    </header>
    <h1>Lifehack Bornholm</h1>

    <div class="projects">
        <h2>Projects to check out</h2>
        <div class="cards">
            <div class="card">
                <img class="card-image" alt="c1" src="../public/images/c1images/GetItDoneLogo.png" th:src="@{/images/c1images/GetItDoneLogo.png}"/>
                <div class="card-copy">Get It Done</span></div>
                <a class="card-link" href="c1templates/c1login.html" th:href="@{/c1templates/}">Get It Done!</a>
            </div>
            <div class="card">
                <img class="card-image" alt="c2" src="../public/images/c2/chatserver.png" th:src="@{/images/c2/chatserver.png}"/>
                <div class="card-copy"><span style="white-space: pre-wrap;" th:text="${session.c2Frontpage.currentlyOnline}"></span></div>
                <a class="card-link" href="c2/index.html" th:href="@{/c2/}">Chatserver</a>
                <div><p class="error" th:unless="${#strings.isEmpty(c2Message)}" th:text="${c2Message}" style="margin-left: 5px; margin-right: 5px"></p></div>
            </div>
            <div class="card">
                <img class="card-image" alt="c3" src="../public/images/c3/c3Logo/LogoC3.png" th:src="@{/images/c3/c3Logo/LogoC3.png}"/>
                <div class="card-copy">Vaskeanvisninger</div>
                <a class="card-link" href="c3/index.html" th:href="@{/c3/}"/>Klik her!</a>
            </div>

            <div class="card">
                <img class="card-image" alt="c4" src="../public/images/c4/index_background.jpg" th:src="@{/images/c4/index_background.jpg}"/>
                <div class="card-copy">Food in Season</div>
                <a class="card-link" href="c4/index.html" th:href="@{/c4/}"/>Klik her!</a>
            </div>
        </div>
    </div>
    <h3>If you need to log in - do it here</h3>
    <form class="generic-form" method="post">
        <input type="text" name="username" placeholder="Enter your username"/>
        <input type="password" name="password" placeholder="Enter your password"/>
        <button class="btn btn-ok" type="submit" formaction="/login">Login</button>
        <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
    </form>
</div>
</body>
</html>
