<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Projectname</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="../../public/css/c4/c4.css" th:href="@{/css/c4/c4.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">
    <header>
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/lifehacklogo.png" th:src="@{/images/lifehacklogo.png}"/>
        </a>
    </header>

    <div class="innerpage">

    <h1>Food currently in season (in Denmark)</h1>

    <h2>Choose month and food category:</h2>
    <form method="post">
    <div class="dropdowns-case">
            <select class="dropdowns" name="month" id="month">
                <option disabled selected>Choose month</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
            </select>
            <br/>
            <br/>

        <div class="dropdowns-case">
            <select class="dropdowns" name="foodcategory" id="foodcategory">
                <option disabled selected>Choose category</option>
                <option value="fruits">Fruits</option>
                <option value="vegetables">Vegetables</option>
                <option value="fish">Fish</option>
                <option value="mushrooms">Mushrooms</option>
                <option value="toxic-mushrooms">Toxic Mushrooms</option>
                </select>

        </div>

            <div id="search-button">
                <button type="submit" formaction="search">Search</button>

            </div>


    </div>
    </form>
</div>


    <form method="get">
        <table class="food-table">
            <thead>

            <tr>
                <th>List of food in season</th>

            </tr>

            </thead>
            <tbody>
            <tr th:each="food: ${foodList}">
                <td th:text="${food.foodItem}"></td>
<!--                <td>-->
<!--                    <button type="submit" name="taskId" th:value="${task.taskId}" formaction="undo">Undo</button>-->
<!--                    <button type="submit">Edit</button>-->
<!--                    <button type="submit" name="taskId" th:value="${task.taskId}" formaction="deletetask">Delete</button>-->
<!--                    </td>-->

            </tr>
            </tbody>

        </table>
    </form>




</div>
</body>
</html>